<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-35/blob/main/Reto/Reto_Entrega_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Semana 9 - Reto - Entrega 2**
 **Limpieza, análisis, visualización y kmeans**

Maestría en Inteligencia Artificial Aplicada

**Curso:** Ciencia y analítica de datos

Tecnológico de Monterrey

**Profesor Titular:**
- María de la Paz Rico Fernández

**Profesor Tutor:**
- Roberto Antonio Guevara González

**Nombre de los estudiantes:**
- Alejandra Mendoza Flores - A01793032
- Fernando Sebastian Sanchez Cardona - A01687530

**Fecha:** 

16 de noviembre del 2022

#**Parte 1**

http://201.116.60.46/

In [1]:
! pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.6)

In [2]:
! pip install yellowbrick

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yellowbrick in /usr/local/lib/python3.7/dist-packages (1.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick) (1.7.3)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from yellowbrick) (3.2.2)
Requirement already satisfied: cycler>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick) (0.11.0)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick) (1.0.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->yellowbrick) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->yellowbrick) (3.1.0)

In [3]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

from sklearn.preprocessing import OneHotEncoder
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
url="/content/drive/MyDrive/DATA/Colab Notebooks/Superficiales/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020.csv"
df= pd.read_csv(url, encoding='latin-1')
df.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
0,DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
1,DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
2,DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
3,DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
4,DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

In [6]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CLAVE,3493,3493,DLAGU8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SITIO,3493,3481,ANTES DE LA CONFLUENCIA CON EL RIO ATOYAC,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ORGANISMO_DE_CUENCA,3493,13,LERMA SANTIAGO PACIFICO,709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESTADO,3493,32,VERACRUZ DE IGNACIO DE LA LLAVE,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MUNICIPIO,3493,755,ACAPULCO DE JUAREZ,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUENCA,3492,521,YUCATAN (RESTO DE RH 32),101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUERPO DE AGUA,3479,1067,OCEANO PACIFICO,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIPO,3493,23,LOTICO,1263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUBTIPO,3479,27,RIO,1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LONGITUD,3493.0,NaN,NaN,NaN,-100.359969,6.122773,-117.12403,-103.88231,-99.79553,-96.86023,-86.73215
LATITUD,3493.0,NaN,NaN,NaN,21.046992,3.893696,14.53491,18.39607,20.14898,22.82893,32.7065
PERIODO,3493.0,NaN,NaN,NaN,2020.0,0.0,2020.0,2020.0,2020.0,2020.0,2020.0
DBO_mg/L,2581,743,<2,1224,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_DBO,2581,5,Excelente,1330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQO_mg/L,2581,1211,<10,559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_DQO,2581,5,Contaminada,790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SST_mg/L,3489,1219,<10,880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_SST,3489,5,Excelente,1780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COLI_FEC_NMP_100mL,2582,408,24000,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_COLI_FEC,2582,5,Fuertemente contaminada,891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E_COLI_NMP_100mL,2582,372,<3,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_E_COLI,2582,5,Fuertemente contaminada,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENTEROC_NMP_100mL,904,185,<3,464,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_ENTEROC,904,4,Excelente,709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC,1797,837,<10,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC,1797,5,Excelente,769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_SUP,1619,771,<10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_SUP,1619,5,Excelente,853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_MED,487,359,<10,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_MED,487,5,Excelente,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_FON,946,556,<10,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_FON,946,5,Excelente,409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_D_48_UT,1816,85,<1,1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_D_48,1816,4,No Toxico,1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_V_15_UT,1819,148,<1,1671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_V_15,1819,4,No Toxico,1671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_D_48_SUP_UT,762,23,<1,738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD TOX_D_48_SUP,762,4,No Toxico,738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_D_48_FON_UT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_D_48_FON,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_FIS_SUP_15_UT,1674,17,<1,1657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_FIS_SUP_15,1674,4,No Toxico,1657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_FIS_FON_15_UT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_FIS_FON_15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEMAFORO,3493,3,Verde,1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTAMINANTES,2226,96,"CF,E_COLI,",439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_DBO,3493,3,SI,2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_DQO,3493,3,SI,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_SST,3493,3,SI,3104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_CF,3493,3,NO,1634,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_E_COLI,3493,3,SI,1453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_ENTEROC,3493,3,ND,2589,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_OD,3493,3,SI,2958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_TOX,3493,2,SI,3411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GRUPO,3493,3,LOTICO,1772,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. Limpieza de base de datos.

Revisión de valores nulos

In [7]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

CALIDAD_TOX_FIS_FON_15    100.000000
TOX_FIS_FON_15_UT         100.000000
CALIDAD_TOX_D_48_FON      100.000000
TOX_D_48_FON_UT           100.000000
CALIDAD_OD_PORC_MED        88.239556
OD_PORC_MED                88.239556
CALIDAD TOX_D_48_SUP       81.598648
TOX_D_48_SUP_UT            81.598648
CALIDAD_ENTEROC            78.169524
ENTEROC_NMP_100mL          78.169524
CALIDAD_OD_PORC_FON        77.155277
OD_PORC_FON                77.155277
CALIDAD_OD_PORC_SUP        60.903163
OD_PORC_SUP                60.903163
TOX_FIS_SUP_15_UT          59.574982
CALIDAD_TOX_FIS_SUP_15     59.574982
CALIDAD_OD_PORC            56.604685
OD_PORC                    56.604685
TOX_D_48_UT                56.145858
CALIDAD_TOX_D_48           56.145858
CALIDAD_TOX_V_15           56.073412
TOX_V_15_UT                56.073412
CONTAMINANTES              46.244868
CALIDAD_DQO                37.672060
DQO_mg/L                   37.672060
CALIDAD_DBO                37.672060
DBO_mg/L                   37.672060
COLI_FEC_NMP_100mL         37.647911
E_COLI_NMP_100mL           37.647911
CALIDAD_E_COLI             37.647911
CALIDAD_COLI_FEC           37.647911
CUERPO DE AGUA             15.986477
SUBTIPO                    15.986477
SST_mg/L                   15.744989
CALIDAD_SST                15.744989
CUENCA                     15.672543
CUMPLE_CON_OD              15.648394
CUMPLE_CON_TOX             15.648394
CUMPLE_CON_SST             15.648394
CUMPLE_CON_ENTEROC         15.648394
CUMPLE_CON_E_COLI          15.648394
CUMPLE_CON_DQO             15.648394
CUMPLE_CON_CF              15.648394
CUMPLE_CON_DBO             15.648394
CLAVE                      15.648394
SEMAFORO                   15.648394
SITIO                      15.648394
PERIODO                    15.648394
LATITUD                    15.648394
LONGITUD                   15.648394
TIPO                       15.648394
MUNICIPIO                  15.648394
ESTADO                     15.648394
ORGANISMO_DE_CUENCA        15.648394
GRUPO                      15.648394
dtype: float64

Se identificó que a partir de la fila 3494 no hay valores, e eliminarán las filas siguientes

In [8]:
df[df['CLAVE'].isna()]

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
3493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.dropna(how='all')

Estandarización de datos no disponibles, los datos no disponibles están marcado como ND en la columna Semaforo

In [10]:
df = df.replace(['ND', ''], np.nan)

No hay datos en las columnas, se eliminarán

In [11]:
df = df.drop(['TOX_D_48_FON_UT','CALIDAD_TOX_D_48_FON', 'TOX_FIS_FON_15_UT','CALIDAD_TOX_FIS_FON_15'], axis=1)

Estandarizar los campos que son númericos y tienen valores del tipo <1, <2, <3, <10 con el valor indicado en el campo

In [12]:
cols_menor_que = ['DBO_mg/L', 'DQO_mg/L', 'SST_mg/L', 'E_COLI_NMP_100mL', 
                  'ENTEROC_NMP_100mL', 'OD_PORC', 'OD_PORC_SUP', 'OD_PORC_MED', 
                  'OD_PORC_FON', 'TOX_D_48_UT', 'TOX_V_15_UT', 'TOX_D_48_SUP_UT', 'TOX_FIS_SUP_15_UT',
                  'COLI_FEC_NMP_100mL'
                  ]

df[cols_menor_que] = df[cols_menor_que].replace({'<1':1, '<2':2, '<3':3, '<10':10})

Reemplazar variables que contengan valores buleanos por 1(SI) y 0(NO)

In [13]:
cols_si_no = ['CUMPLE_CON_DBO', 'CUMPLE_CON_DQO', 'CUMPLE_CON_SST',
              'CUMPLE_CON_CF', 'CUMPLE_CON_E_COLI', 'CUMPLE_CON_ENTEROC', 
              'CUMPLE_CON_OD', 'CUMPLE_CON_TOX'
                  ]

df[cols_si_no] = df[cols_si_no].replace({'SI':1, 'NO':0})

In [14]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
CLAVE,3493,3493,DLAGU8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SITIO,3493,3481,ANTES DE LA CONFLUENCIA CON EL RIO ATOYAC,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ORGANISMO_DE_CUENCA,3493,13,LERMA SANTIAGO PACIFICO,709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESTADO,3493,32,VERACRUZ DE IGNACIO DE LA LLAVE,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MUNICIPIO,3493,755,ACAPULCO DE JUAREZ,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUENCA,3492,521,YUCATAN (RESTO DE RH 32),101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUERPO DE AGUA,3479,1067,OCEANO PACIFICO,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIPO,3493,23,LOTICO,1263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUBTIPO,3479,27,RIO,1478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LONGITUD,3493.0,NaN,NaN,NaN,-100.359969,6.122773,-117.12403,-103.88231,-99.79553,-96.86023,-86.73215
LATITUD,3493.0,NaN,NaN,NaN,21.046992,3.893696,14.53491,18.39607,20.14898,22.82893,32.7065
PERIODO,3493.0,NaN,NaN,NaN,2020.0,0.0,2020.0,2020.0,2020.0,2020.0,2020.0
DBO_mg/L,2581.0,743.0,2.0,1224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_DBO,2581,5,Excelente,1330,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DQO_mg/L,2581.0,1211.0,10.0,559.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_DQO,2581,5,Contaminada,790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SST_mg/L,3489.0,1219.0,10.0,880.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_SST,3489,5,Excelente,1780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COLI_FEC_NMP_100mL,2582,408,24000,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_COLI_FEC,2582,5,Fuertemente contaminada,891,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E_COLI_NMP_100mL,2582.0,372.0,3.0,365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_E_COLI,2582,5,Fuertemente contaminada,1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENTEROC_NMP_100mL,904.0,185.0,3.0,464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_ENTEROC,904,4,Excelente,709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC,1797.0,837.0,10.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC,1797,5,Excelente,769,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_SUP,1619.0,771.0,10.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_SUP,1619,5,Excelente,853,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_MED,487.0,359.0,10.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_MED,487,5,Excelente,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OD_PORC_FON,946.0,556.0,10.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_OD_PORC_FON,946,5,Excelente,409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_D_48_UT,1816.0,85.0,1.0,1729.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_D_48,1816,4,No Toxico,1729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_V_15_UT,1819.0,148.0,1.0,1671.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_V_15,1819,4,No Toxico,1671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_D_48_SUP_UT,762.0,23.0,1.0,738.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD TOX_D_48_SUP,762,4,No Toxico,738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_FIS_SUP_15_UT,1674.0,17.0,1.0,1657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_FIS_SUP_15,1674,4,No Toxico,1657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SEMAFORO,3493,3,Verde,1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTAMINANTES,2226,96,"CF,E_COLI,",439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUMPLE_CON_DBO,2581.0,NaN,NaN,NaN,0.898489,0.302063,0.0,1.0,1.0,1.0,1.0
CUMPLE_CON_DQO,2581.0,NaN,NaN,NaN,0.639287,0.4803,0.0,0.0,1.0,1.0,1.0
CUMPLE_CON_SST,3489.0,NaN,NaN,NaN,0.889653,0.313366,0.0,1.0,1.0,1.0,1.0
CUMPLE_CON_CF,2582.0,NaN,NaN,NaN,0.367157,0.482123,0.0,0.0,0.0,1.0,1.0
CUMPLE_CON_E_COLI,2582.0,NaN,NaN,NaN,0.562742,0.496144,0.0,0.0,1.0,1.0,1.0
CUMPLE_CON_ENTEROC,904.0,NaN,NaN,NaN,0.831858,0.374199,0.0,1.0,1.0,1.0,1.0
CUMPLE_CON_OD,3450.0,NaN,NaN,NaN,0.857391,0.349724,0.0,1.0,1.0,1.0,1.0
CUMPLE_CON_TOX,3493.0,NaN,NaN,NaN,0.976524,0.15143,0.0,1.0,1.0,1.0,1.0
GRUPO,3493,3,LOTICO,1772,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Reemplazar variables que contengan valores en escala de likert por valores del 1 al 5
- Excelente = 5
- Buena calidad = 4
- Aceptable = 3
- Contaminada = 2
- Fuertemente contaminada = 1

In [15]:
cols_calidad = ['CALIDAD_COLI_FEC', 'CALIDAD_DBO','CALIDAD_DQO',
'CALIDAD_E_COLI', 'CALIDAD_ENTEROC', 'CALIDAD_OD_PORC', 'CALIDAD_OD_PORC_FON',
'CALIDAD_OD_PORC_MED', 'CALIDAD_OD_PORC_SUP', 'CALIDAD_SST',
]


df[cols_calidad]=df[cols_calidad].replace({
'Excelente': 5,
'Buena calidad': 4,
'Aceptable': 3,
'Contaminada': 2,
'Fuertemente contaminada': 1

})

Reemplazar variables que contengan valores en escala de likert por valores del 1 al 4
- No toxico = 1
- Toxicidad baja = 3
- Toxicidad moderada = 4
- Toxicidad alta = 5

In [16]:
df[['CALIDAD_TOX_D_48']].value_counts()

CALIDAD_TOX_D_48
No Toxico             1729
Toxicidad moderada      52
Toxicidad baja          31
Toxicidad alta           4
dtype: int64

In [17]:
cols_toxicidad = ['CALIDAD_TOX_D_48', 'CALIDAD_TOX_V_15',
                  'CALIDAD TOX_D_48_SUP', 'CALIDAD_TOX_FIS_SUP_15'
]

df[cols_toxicidad]=df[cols_toxicidad].replace({
  'No Toxico': 1,
  'Toxicidad baja': 2,
  'Toxicidad moderada': 3,
  'Toxicidad alta': 4
})

In [18]:
df[['CALIDAD_TOX_D_48']].value_counts()

CALIDAD_TOX_D_48
1.0                 1729
3.0                   52
2.0                   31
4.0                    4
dtype: int64

Revisión de tipos de datos

In [19]:
df.dtypes

CLAVE                      object
SITIO                      object
ORGANISMO_DE_CUENCA        object
ESTADO                     object
MUNICIPIO                  object
CUENCA                     object
CUERPO DE AGUA             object
TIPO                       object
SUBTIPO                    object
LONGITUD                  float64
LATITUD                   float64
PERIODO                   float64
DBO_mg/L                   object
CALIDAD_DBO               float64
DQO_mg/L                   object
CALIDAD_DQO               float64
SST_mg/L                   object
CALIDAD_SST               float64
COLI_FEC_NMP_100mL         object
CALIDAD_COLI_FEC          float64
E_COLI_NMP_100mL           object
CALIDAD_E_COLI            float64
ENTEROC_NMP_100mL          object
CALIDAD_ENTEROC           float64
OD_PORC                    object
CALIDAD_OD_PORC           float64
OD_PORC_SUP                object
CALIDAD_OD_PORC_SUP       float64
OD_PORC_MED                object
CALIDAD_OD_PORC_MED       float64
OD_PORC_FON                object
CALIDAD_OD_PORC_FON       float64
TOX_D_48_UT                object
CALIDAD_TOX_D_48          float64
TOX_V_15_UT                object
CALIDAD_TOX_V_15          float64
TOX_D_48_SUP_UT            object
CALIDAD TOX_D_48_SUP      float64
TOX_FIS_SUP_15_UT          object
CALIDAD_TOX_FIS_SUP_15    float64
SEMAFORO                   object
CONTAMINANTES              object
CUMPLE_CON_DBO            float64
CUMPLE_CON_DQO            float64
CUMPLE_CON_SST            float64
CUMPLE_CON_CF             float64
CUMPLE_CON_E_COLI         float64
CUMPLE_CON_ENTEROC        float64
CUMPLE_CON_OD             float64
CUMPLE_CON_TOX              int64
GRUPO                      object
dtype: object

In [20]:
flotantes = ['DBO_mg/L', 'DQO_mg/L', 'SST_mg/L', 'E_COLI_NMP_100mL', 
                  'ENTEROC_NMP_100mL', 'OD_PORC', 'OD_PORC_SUP', 'OD_PORC_MED', 
                  'OD_PORC_FON', 'TOX_D_48_UT', 'TOX_V_15_UT', 'TOX_D_48_SUP_UT', 'TOX_FIS_SUP_15_UT',
                  'COLI_FEC_NMP_100mL'
]

df[flotantes] = df[flotantes].astype(float)

Los valores enteros no se pueden convertir a int si existen valores ND, se solucionará más adelante

In [21]:
enteros = [
  'CALIDAD_TOX_D_48',
  'CALIDAD_TOX_V_15',
  'CALIDAD TOX_D_48_SUP',
  'CALIDAD_TOX_FIS_SUP_15',
]

Revisión de valores nulos

In [22]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

CALIDAD_OD_PORC_MED       86.057830
OD_PORC_MED               86.057830
CALIDAD TOX_D_48_SUP      78.184941
TOX_D_48_SUP_UT           78.184941
ENTEROC_NMP_100mL         74.119668
CUMPLE_CON_ENTEROC        74.119668
CALIDAD_ENTEROC           74.119668
CALIDAD_OD_PORC_FON       72.917263
OD_PORC_FON               72.917263
CALIDAD_OD_PORC_SUP       53.650157
OD_PORC_SUP               53.650157
CALIDAD_TOX_FIS_SUP_15    52.075580
TOX_FIS_SUP_15_UT         52.075580
OD_PORC                   48.554251
CALIDAD_OD_PORC           48.554251
CALIDAD_TOX_D_48          48.010306
TOX_D_48_UT               48.010306
CALIDAD_TOX_V_15          47.924420
TOX_V_15_UT               47.924420
CONTAMINANTES             36.272545
CALIDAD_DQO               26.109362
DQO_mg/L                  26.109362
CALIDAD_DBO               26.109362
DBO_mg/L                  26.109362
CUMPLE_CON_DBO            26.109362
CUMPLE_CON_DQO            26.109362
CUMPLE_CON_CF             26.080733
CUMPLE_CON_E_COLI         26.080733
E_COLI_NMP_100mL          26.080733
CALIDAD_E_COLI            26.080733
CALIDAD_COLI_FEC          26.080733
COLI_FEC_NMP_100mL        26.080733
CUMPLE_CON_OD              1.231033
SUBTIPO                    0.400802
CUERPO DE AGUA             0.400802
SST_mg/L                   0.114515
CALIDAD_SST                0.114515
CUMPLE_CON_SST             0.114515
CUENCA                     0.028629
CUMPLE_CON_TOX             0.000000
CLAVE                      0.000000
SEMAFORO                   0.000000
SITIO                      0.000000
PERIODO                    0.000000
LATITUD                    0.000000
LONGITUD                   0.000000
TIPO                       0.000000
MUNICIPIO                  0.000000
ESTADO                     0.000000
ORGANISMO_DE_CUENCA        0.000000
GRUPO                      0.000000
dtype: float64

Eliminar columnas cuyos valores faltantes son más del 50%

In [23]:
faltantes_50 = percent_missing[percent_missing > 50].index
print(faltantes_50.shape)
df = df.drop(faltantes_50, axis=1)

(13,)

Reemplazar las discretas con la moda y las continuas con la media

- Discretas

In [24]:
numericas_discretas = cols_si_no + cols_calidad + cols_toxicidad + ['SEMAFORO']
numericas_discretas = [col for col in numericas_discretas if col in df.columns]

df[numericas_discretas].median()

df[numericas_discretas] = df[numericas_discretas].fillna(df[numericas_discretas].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

- Continuas

In [25]:
numericas_continuas = flotantes
numericas_continuas = [col for col in numericas_continuas if col in df.columns]

df[numericas_continuas].mean()

df[numericas_continuas] = df[numericas_continuas].fillna(df[numericas_continuas].median())

Revisión de valores nulos

In [26]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

CONTAMINANTES          36.272545
CUERPO DE AGUA          0.400802
SUBTIPO                 0.400802
CUENCA                  0.028629
CLAVE                   0.000000
CALIDAD_OD_PORC         0.000000
TOX_D_48_UT             0.000000
CALIDAD_TOX_D_48        0.000000
TOX_V_15_UT             0.000000
CALIDAD_TOX_V_15        0.000000
SEMAFORO                0.000000
CUMPLE_CON_DQO          0.000000
CUMPLE_CON_DBO          0.000000
CALIDAD_E_COLI          0.000000
CUMPLE_CON_SST          0.000000
CUMPLE_CON_CF           0.000000
CUMPLE_CON_E_COLI       0.000000
CUMPLE_CON_OD           0.000000
CUMPLE_CON_TOX          0.000000
OD_PORC                 0.000000
CALIDAD_COLI_FEC        0.000000
E_COLI_NMP_100mL        0.000000
PERIODO                 0.000000
ORGANISMO_DE_CUENCA     0.000000
ESTADO                  0.000000
MUNICIPIO               0.000000
TIPO                    0.000000
LONGITUD                0.000000
LATITUD                 0.000000
DBO_mg/L                0.000000
SITIO                   0.000000
CALIDAD_DBO             0.000000
DQO_mg/L                0.000000
CALIDAD_DQO             0.000000
SST_mg/L                0.000000
CALIDAD_SST             0.000000
COLI_FEC_NMP_100mL      0.000000
GRUPO                   0.000000
dtype: float64

Revisar que valores tenemos en las columnas faltantes por limpiar

In [27]:
df[['CUENCA', 'SUBTIPO', 'CUERPO DE AGUA', 'CONTAMINANTES']].describe()

                          CUENCA SUBTIPO   CUERPO DE AGUA CONTAMINANTES
count                       3492    3479             3479          2226
unique                       521      27             1067            96
top     YUCATAN (RESTO DE RH 32)     RIO  OCEANO PACIFICO    CF,E_COLI,
freq                         101    1478              139           439

Al tener pocos valores nulos, se eliminar las filas

In [28]:
df = df[df['CUENCA'].notna()]
df = df[df['SUBTIPO'].notna()]
df = df[df['CUENCA'].notna()]

Revisión de valores nulos

In [29]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

CONTAMINANTES          36.170213
SEMAFORO                0.000000
CALIDAD_E_COLI          0.000000
OD_PORC                 0.000000
CALIDAD_OD_PORC         0.000000
TOX_D_48_UT             0.000000
CALIDAD_TOX_D_48        0.000000
TOX_V_15_UT             0.000000
CALIDAD_TOX_V_15        0.000000
CLAVE                   0.000000
SITIO                   0.000000
CUMPLE_CON_DBO          0.000000
CUMPLE_CON_DQO          0.000000
CUMPLE_CON_SST          0.000000
CUMPLE_CON_CF           0.000000
CUMPLE_CON_E_COLI       0.000000
CUMPLE_CON_OD           0.000000
CUMPLE_CON_TOX          0.000000
E_COLI_NMP_100mL        0.000000
CALIDAD_COLI_FEC        0.000000
COLI_FEC_NMP_100mL      0.000000
CALIDAD_SST             0.000000
ORGANISMO_DE_CUENCA     0.000000
ESTADO                  0.000000
MUNICIPIO               0.000000
CUENCA                  0.000000
CUERPO DE AGUA          0.000000
TIPO                    0.000000
SUBTIPO                 0.000000
LONGITUD                0.000000
LATITUD                 0.000000
PERIODO                 0.000000
DBO_mg/L                0.000000
CALIDAD_DBO             0.000000
DQO_mg/L                0.000000
CALIDAD_DQO             0.000000
SST_mg/L                0.000000
GRUPO                   0.000000
dtype: float64

Al no representar valor para el futuro análisis se eliminará la columna CONTAMINANTES

In [30]:
df = df.drop(['CONTAMINANTES'], axis=1)

Revisión de valores nulos

In [31]:
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

CLAVE                  0.0
CALIDAD_COLI_FEC       0.0
CALIDAD_E_COLI         0.0
OD_PORC                0.0
CALIDAD_OD_PORC        0.0
TOX_D_48_UT            0.0
CALIDAD_TOX_D_48       0.0
TOX_V_15_UT            0.0
CALIDAD_TOX_V_15       0.0
SEMAFORO               0.0
CUMPLE_CON_DBO         0.0
CUMPLE_CON_DQO         0.0
CUMPLE_CON_SST         0.0
CUMPLE_CON_CF          0.0
CUMPLE_CON_E_COLI      0.0
CUMPLE_CON_OD          0.0
CUMPLE_CON_TOX         0.0
E_COLI_NMP_100mL       0.0
COLI_FEC_NMP_100mL     0.0
SITIO                  0.0
CALIDAD_SST            0.0
ORGANISMO_DE_CUENCA    0.0
ESTADO                 0.0
MUNICIPIO              0.0
CUENCA                 0.0
CUERPO DE AGUA         0.0
TIPO                   0.0
SUBTIPO                0.0
LONGITUD               0.0
LATITUD                0.0
PERIODO                0.0
DBO_mg/L               0.0
CALIDAD_DBO            0.0
DQO_mg/L               0.0
CALIDAD_DQO            0.0
SST_mg/L               0.0
GRUPO                  0.0
dtype: float64

Revisión de tipos de datos

In [32]:
df.dtypes

CLAVE                   object
SITIO                   object
ORGANISMO_DE_CUENCA     object
ESTADO                  object
MUNICIPIO               object
CUENCA                  object
CUERPO DE AGUA          object
TIPO                    object
SUBTIPO                 object
LONGITUD               float64
LATITUD                float64
PERIODO                float64
DBO_mg/L               float64
CALIDAD_DBO            float64
DQO_mg/L               float64
CALIDAD_DQO            float64
SST_mg/L               float64
CALIDAD_SST            float64
COLI_FEC_NMP_100mL     float64
CALIDAD_COLI_FEC       float64
E_COLI_NMP_100mL       float64
CALIDAD_E_COLI         float64
OD_PORC                float64
CALIDAD_OD_PORC        float64
TOX_D_48_UT            float64
CALIDAD_TOX_D_48       float64
TOX_V_15_UT            float64
CALIDAD_TOX_V_15       float64
SEMAFORO                object
CUMPLE_CON_DBO         float64
CUMPLE_CON_DQO         float64
CUMPLE_CON_SST         float64
CUMPLE_CON_CF          float64
CUMPLE_CON_E_COLI      float64
CUMPLE_CON_OD          float64
CUMPLE_CON_TOX           int64
GRUPO                   object
dtype: object

**¡Base de datos limpia!**

#**Parte 2**

1. Selecciona tus variables independientes X y dependiente Y (semáforo)

2. Cambia a one hot encoding el semáforo

3. Realiza un análisis general de las features importances a traves de decision trees o random forest.

4. Selecciona las variables de mayor importancia.

5. Realiza tu clasificador, recuerda dividir los datos de manera balanceada (auxiliate de train test split)

6. Explora que clasificador es el más optimo, ejemplo:

- Decision trees

- Random Forest.

7. Determina el grado de exactitud a través del reporte de clasificación y análisis de la gráfica de Precision Recall.

8. Visualiza los resultados del modelo o las predicciones a través de una matriz de confusión.